@model OshiSeoAnalyser.Models.SeoRequest
@{
                /**/

                ViewBag.Title = "Home Page";
}

@using (Ajax.BeginForm("Analyse", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "analyse-result" }))
{
    <div class="row">
        <div class="col-md-2">
            @Html.Label("Data Source")
        </div>
        <div class="col-md-10">
            @Html.RadioButtonFor(m => m.IsUrl, false) Text
            @Html.RadioButtonFor(m => m.IsUrl, true) Url
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(m => m.Text)
        </div>
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Text)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(m => m.Url)
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Url)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(m => m.Options)
        </div>
        <div class="col-md-10">
            <table>
                @for (int i = 0; i < Model.Options.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.CheckBoxFor(m => m.Options[i].Selected)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.Options[i].Text)
                            @Html.HiddenFor(m => m.Options[i].Value)
                            @Html.HiddenFor(m => m.Options[i].Text)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="submit" value="Analyse" />
        </div>
    </div>
}

<hr />

<div class="row" id="analyse-result">

</div>

@*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@